body {
    font-family: sans-serif;
    background-color: white;
    margin-top: 75px;
    text-align: center;
    border: 2px solid blue;
    border-radius: 20px 30px 40px 80px;
}

.center {
    text-align: center;
}


.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
    
}

.img-medium {
    height: 200px;
    width: 200px;
    box-shadow: 10px 10px 5px #888888;
   border-radius: 20px 30px 40px 80px;
}
.container {
            color: #7b7878;
            margin: 0 auto;
            max-width: 800px;
            padding: 40px;
            border: 1px solid #e8aaaa;
            border-radius: 40px;
            font-family: sans-serif;
        
    }

